[submodule "facebook"]
	path = facebook
	url = git://github.com/backbone-api/facebook.git
[submodule "twitter"]
	path = twitter
	url = git://github.com/backbone-api/twitter.git
[submodule "crudr"]
	path = crudr
	url = git://github.com/backbone-api/crudr.git
[submodule "adsense"]
	path = adsense
	url = git://github.com/backbone-api/adsense.git
[submodule "vimeo"]
	path = vimeo
	url = git://github.com/backbone-api/vimeo.git
[submodule "youtube"]
	path = youtube
	url = git://github.com/backbone-api/youtube.git
[submodule "itunes"]
	path = itunes
	url = git://github.com/backbone-api/itunes.git
[submodule "foursquare"]
	path = foursquare
	url = git://github.com/backbone-api/foursquare.git
[submodule "behance"]
	path = behance
	url = git://github.com/backbone-api/behance.git
